
.nav {
    margin: 0;
    padding: 0;
    display: flex;
    background-color:#f9d2dad4;
    
}

.nav a {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color:#5E3E22;
}

.nav a:hover {
    color: rgb(185, 105, 118);
}

.nav img{
    width: 19%;
}